In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import math
import datetime

In [81]:
mu_masse_1 = 5.944892676091842
s_masse_1 = 1.0452954216771342
mu_masse_2 = 4.012421689011621
s_masse_2 = 1.2811831375376432
mu_speed_1 = 8.788235294117646
s_speed_1 = 1.9745088303442118
mu_speed_2 = 37.790625
s_speed_2 = 5.31080027956004
alpha_t_delta_1 = 0.7720943018929209
beta_t_delta_1 = 32.180388904581854
alpha_t_delta_2 = 0.6924339239082432
beta_t_delta_2 = 85.33142881264439

In [82]:
def random_masse_1():
    masse_1 = np.random.lognormal(mu_masse_1, s_masse_1, 1).round(1)
    return masse_1

def random_masse_2():
    masse_2 = np.random.lognormal(mu_masse_2, s_masse_2, 1).round(1)
    return masse_2

def random_speed_1():
    speed_1 = np.random.normal(mu_speed_1, s_speed_1, 1).round(2)
    return speed_1

def random_speed_2():
    speed_2 = np.random.normal(mu_speed_2, s_speed_2, 1).round(2)
    return speed_2

def random_t_delta_1():
    t_delta_1 = int(np.random.gamma(alpha_t_delta_1, beta_t_delta_1, 1).round(0))
    return t_delta_1

def random_t_delta_2():
    t_delta_2 = int(np.random.gamma(alpha_t_delta_2, beta_t_delta_2, 1).round(0))

In [83]:
array = []
for i in range (0, 48, 1):
    array.append(i)

header = ['Day', 'Masse 1', 'Speed 1', 'T Delta 1', 'Masse 2', 'Speed 2', 'T Delta 2', 'Kin. Energie']

In [84]:
results = ()
results = pd.DataFrame(array, columns= ['Hours'])

for value in header:
    results[value] = np.nan

results.head()

,Hours,Day,Masse 1,Speed 1,T Delta 1,Masse 2,Speed 2,T Delta 2,Kin. Energie
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
end = results['Hours'].max()
start = 0
i = 0

In [86]:
while i < end:
    t_delta_1 = random_t_delta_1()
    print (t_delta_1)
    event_1 += t_delta_1
    results['Masse 1'][event_1] = random_masse_1()
    i += event_1

5

c:\users\m0268176\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [87]:
print (results)

    Hours  Day  Masse 1  Speed 1  T Delta 1  Masse 2  Speed 2  T Delta 2  \
0       0  NaN      NaN      NaN        NaN      NaN      NaN        NaN
1       1  NaN      NaN      NaN        NaN      NaN      NaN        NaN
2       2  NaN      NaN      NaN        NaN      NaN      NaN        NaN
3       3  NaN      NaN      NaN        NaN      NaN      NaN        NaN
4       4  NaN      NaN      NaN        NaN      NaN      NaN        NaN
5       5  NaN      NaN      NaN        NaN      NaN      NaN        NaN
6       6  NaN      NaN      NaN        NaN      NaN      NaN        NaN
7       7  NaN      NaN      NaN        NaN      NaN      NaN        NaN
8       8  NaN      NaN      NaN        NaN      NaN      NaN        NaN
9       9  NaN      NaN      NaN        NaN      NaN      NaN        NaN
10     10  NaN      NaN      NaN        NaN      NaN      NaN        NaN
11     11  NaN      NaN      NaN        NaN      NaN      NaN        NaN
12     12  NaN      NaN      NaN        NaN      NaN      NaN        NaN
13     13  NaN      NaN      NaN        NaN      NaN      NaN        NaN
14     14  NaN      NaN      NaN        NaN      NaN      NaN        NaN
15     15  NaN      NaN      NaN        NaN      NaN      NaN        NaN
16     16  NaN      NaN      NaN        NaN      NaN      NaN        NaN
17     17  NaN      NaN      NaN        NaN      NaN      NaN        NaN
18     18  NaN      NaN      NaN        NaN      NaN      NaN        NaN
19     19  NaN      NaN      NaN        NaN      NaN      NaN        NaN
20     20  NaN      NaN      NaN        NaN      NaN      NaN        NaN
21     21  NaN      NaN      NaN        NaN      NaN      NaN        NaN
22     22  NaN      NaN      NaN        NaN      NaN      NaN        NaN
23     23  NaN      NaN      NaN        NaN      NaN      NaN        NaN
24     24  NaN      NaN      NaN        NaN      NaN      NaN        NaN
25     25  NaN      NaN      NaN        NaN      NaN      NaN        NaN
26     26  NaN      NaN      NaN        NaN      NaN      NaN        NaN
27     27  NaN      NaN      NaN        NaN      NaN      NaN        NaN
28     28  NaN      NaN      NaN        NaN      NaN      NaN        NaN
29     29  NaN      NaN      NaN        NaN      NaN      NaN        NaN
30     30  NaN      NaN      NaN        NaN      NaN      NaN        NaN
31     31  NaN      NaN      NaN        NaN      NaN      NaN        NaN
32     32  NaN      NaN      NaN        NaN      NaN      NaN        NaN
33     33  NaN      NaN      NaN        NaN      NaN      NaN        NaN
34     34  NaN      NaN      NaN        NaN      NaN      NaN        NaN
35     35  NaN      NaN      NaN        NaN      NaN      NaN        NaN
36     36  NaN      NaN      NaN        NaN      NaN      NaN        NaN
37     37  NaN      NaN      NaN        NaN      NaN      NaN        NaN
38     38  NaN      NaN      NaN        NaN      NaN      NaN        NaN
39     39  NaN      NaN      NaN        NaN      NaN      NaN        NaN
40     40  NaN      NaN      NaN        NaN      NaN      NaN        NaN
41     41  NaN      NaN      NaN        NaN      NaN      NaN        NaN
42     42  NaN      NaN      NaN        NaN      NaN      NaN        NaN
43     43  NaN      NaN      NaN        NaN      NaN      NaN        NaN
44     44  NaN      NaN      NaN        NaN      NaN      NaN        NaN
45     45  NaN      NaN      NaN        NaN      NaN      NaN        NaN
46     46  NaN      NaN      NaN        NaN      NaN      NaN        NaN
47     47  NaN      NaN      NaN        NaN      NaN      NaN        NaN

    Kin. Energie
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
30           NaN
31           NaN
32           NaN
33           NaN
34           NaN
35           NaN
36           NaN
37           NaN
38           NaN
39           NaN
40           NaN
41           NaN
42           NaN
43           NaN
44           NaN
45           NaN
46           NaN
47           NaN

In [88]:
print (t_delta_1)

5